---
import Layout from '@layouts/Layout.astro';

interface Frontmatter {
  title?: string;
  description?: string;
}
export const posts = await Astro.glob<Frontmatter>('./design/**/*.md');

function getTitleFromPost(post: Astro.MarkdownInstance<Frontmatter>, defaultTitle: string | undefined): string | undefined {
    if (post.frontmatter?.title !== undefined) {
        return post.frontmatter?.title;
    }

    const headings = post.getHeadings();
    if (headings[0]?.text !== undefined) {
        return headings[0].text;
    }

    return defaultTitle;
}

function calculateRelativePathToRoot(normalizedAbsPath: string): string {
    const nestingCount = normalizedAbsPath.split('/').filter(x => x != '').length;
    if (nestingCount === 0) {
        return './';
    } else {
        return `${'../'.repeat(nestingCount)}`;
    }
}

const baseUrl = calculateRelativePathToRoot(Astro.url.pathname);
---
<!-- TODO: Support nesting structure. -->

<Layout title="Design Documents">
    <ul>
        {posts.map(post => {
            // require(post.url.startsWith('/'));
            const postUrl = `${baseUrl}${post.url?.slice(1)}`;
            return (<li><a href={postUrl}>{getTitleFromPost(post, post.url)}</a></li>);
        })}
    </ul>
</Layout>
